<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <br>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-item is-active" data-accordion-item>
                        <a href="#" class="accordion-title">Docentes</a>
                        <div class="accordion-content" data-tab-content >
                          <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/docente">Ver Docentes</a></li>
                              <li><a href="http://localhost:8888/admin/add_docente">Añadir Docente</a></li>
                           </ul>
                        </div>
                      </li>
                      <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Rubricas</a>
                        <div class="accordion-content" data-tab-content>
                           <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/rubrica">Ver Rubricas</a></li>
                              <li><a href="http://localhost:8888/admin/add_rubrica">Añadir Rubrica</a></li>
                           </ul>
                        </div>
                      </li>
                      <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Alumnos</a>
                        <div class="accordion-content" data-tab-content>
                           <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/alumno">Ver Alumnos</a></li>
                              <li><a href="http://localhost:8888/admin/add_alumno">Añadir Alumno</a></li>
                           </ul>
                        </div>
                      </li>
                      <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Usuarios</a>
                        <div class="accordion-content" data-tab-content>
                           <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/usuario">Ver Usuarios</a></li>
                              <li><a href="http://localhost:8888/admin/add_usuario">Añadir Usuario</a></li>
                           </ul>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                
                <div class="callout primary">
                    <div class="row column">
                        <h1>Panel Administrador </h1>
                        <p class="lead"> <%= tipo %> DOCENTE.</p>
                    </div>
                </div>
                <div class="container" style="margin-left: 20px;margin-right: 20px;">
               <form method="POST" action="http://localhost:8888/admin/add_docente_post">
                    <input type="hidden" name="id" value="<%= profesor.id %>">
                    <label>Nombre
                      <input type="text" placeholder="Nombres" value="<%= profesor.nombre %>" name="nombre" aria-describedby="exampleHelpText">
                    </label>
                    <label>
                      Apellido
                      <input type="text" placeholder="Apellidos" value="<%= profesor.apellido %>" name="apellido">
                    </label>
                    <label>
                      Curso
                      <input type="text" placeholder="Curso" name="curso" value="<%= profesor.curso %>">
                    </label>
                    <label>
                      Grado
                      <input type="text"  placeholder="Grado" name="grado" value="<%= profesor.grado %>">
                    </label>
                    <label>
                      Sección
                      <input type="text"  placeholder="Sección" name="seccion" value="<%= profesor.seccion %>">
                    </label>
                    <div class="input-group">
                      <button type="button submit" class="success button">Save</button>
                    </div>
              </form>
              </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>