<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <% include plantillas/header-styles.ejs %>
</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <% include plantillas/menu.ejs %>
            <div class="off-canvas-content" data-off-canvas-content>
                
                <div class="callout primary">
                    <div class="row column">
                        <h1>Panel Administrador </h1>
                        <p class="lead"> <%= tipo %> DOCENTE.</p>
                    </div>
                </div>
                <div class="container" style="margin-left: 20px;margin-right: 20px;">
               <form method="POST" action="http://localhost:8888/admin/add_docente_post">
                    <input type="hidden" name="id" value="<%= profesor.id %>">
                    <label>Nombre
                      <input type="text" placeholder="Nombres" value="<%= profesor.nombre %>" name="nombre" aria-describedby="exampleHelpText">
                    </label>
                    <label>
                      Apellido
                      <input type="text" placeholder="Apellidos" value="<%= profesor.apellido %>" name="apellido">
                    </label>
                    <label>
                      Password
                      <input type="text" placeholder="Contraseña" value="<%= profesor.password %>" name="password">
                    </label>
                   
                    <div class="input-group">
                      <button type="button submit" class="success button">Save</button>
                    </div>
              </form>
              </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>