<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Welcome</title>
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/foundation.css">
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium" id="test-eq">
                  <div class="cell medium-12">
                    <div class="callout" data-equalizer-watch>
                      <img src= "../img/login.png">
                    </div>
                  </div>
                 
                </div>
                <% include plantillas/header-profe.ejs %>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                
                <div class="callout primary">
                    <div class="row column">
                        <h1>Panel Administrador </h1>
                        <p class="lead">Notas  <%= curso %>.</p>
                    </div>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th width="100">Nombre</th>
                      <th width="100">Apellido</th>
                      <th width="100">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% alumno.forEach(function(alu) { %>
                    <tr>
                      <td><%= alu.nombre %></td>
                      <td><%= alu.apellido %></td>
                      <td style="display: inline-flex;">
                        
                          <form method="POST" action="http://localhost:8888/profesor/add_alumno_notas">
                              <input type="hidden" name="id" value="<%= alu.id %>">
                              <input type="hidden" name="id_curso" value="<%= curso %>">
                              <button class="success button" type="submit" >Calificar</button> 
                              
                          </form>
                         
                       
                      </td>

                    </tr>
                    <% }); %>
                  </tbody>
                </table>
                <hr>
               
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>