<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <% include plantillas/header-styles.ejs %>
    <style type="text/css">
      .boton{

      }
    </style>
</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <% include plantillas/menu.ejs %>
            <div class="off-canvas-content" data-off-canvas-content>
                
                <div class="callout primary">
                    <div class="row column">
                        <h1>Panel Administrador </h1>
                        <p class="lead">Bienvenido <%= usuario %>.</p>
                    </div>
                </div>
                
                <div class="top-bar" id="example-menu">
                  <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                      <li class="menu-text">Lista de Profesores</li>
                      
                    </ul>
                  </div>
                  <div class="top-bar-right"> 
                    <form  method="POST" action="http://localhost:8888/admin/buscar_docente_post">
                    <ul class="menu">
                     
                        <li><input type="search" name="buscar" placeholder="Search"></li>
                        <li><button type="button submit" class="button">Search</button></li>
                    </ul>
                    </form>
                  </div>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th width="100">Nombre</th>
                      <th width="100">Apellido</th>
                      
                      <th width="100">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% profesor.forEach(function(profe) { %>
                    <tr>
                      <td><%= profe.nombre %></td>
                      <td><%= profe.apellido %></td>
                     
                      <td style="display: inline-flex;">
                        
                          <form method="POST" action="http://localhost:8888/admin/edit_docente_post">
                              <input type="hidden" name="id" value="<%= profe.id %>">
                              <button class="" type="submit" style="background-image: url('../img/editar.png'); background-size: cover; width: 20px; height: 20px;"></button> 
                              
                            
                          </form>
                           <form method="POST" action="http://localhost:8888/admin/delete_docente_post">
                              <input type="hidden" name="id" value="<%= profe.id %>">
                            <button class="" type="submit" style="background-image: url('../img/cerrar.png'); background-size: cover; width: 20px; height: 20px; margin-left: 5px;"></button> 
                          </form>
                       
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>