<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <% include plantillas/header-styles.ejs %>
    <style type="text/css">
      .boton{

      }
    </style>
</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <% include plantillas/menu.ejs %>
            <div class="off-canvas-content" data-off-canvas-content>
                
                <div class="callout primary">
                    <div class="row column">
                        <h1>Panel Administrador </h1>
                        <p class="lead">Bienvenido.</p>
                    </div>
                </div>
                
                <div class="top-bar" id="example-menu">
                  <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                      <li class="menu-text">Rubrica <%= nombre %></li>
                      
                    </ul>
                  </div>
                  
                </div>
               <table id ="myTable">
                  <thead>
                    <tr>
                      <th width="100">Item</th>
                      <th width="100">Sobresaliente</th>
                      <th width="100">Logrado</th>
                      <th width="100">En proceso</th>
                      <th width="100">En inicio</th>
                      <th width="100">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                    <% rubrica.forEach(function(rub) { %>
                    <tr>
                      <form method="POST" action="http://localhost:8888/admin/edit_rubrica_post">
                      <td><input type="text" name="i" value="<%= rub.item %>"></td>
                      <td><input type="text" name="rs" value="<%= rub.sobresaliente %>"></td>
                      <td><input type="text" name="rl" value="<%= rub.logrado %>"></td>
                      <td><input type="text" name="rp" value="<%= rub.proceso %>"></td>
                      <td><input type="text" name="ri" value="<%= rub.inicio %>"></td>
                      
                      <td style="display: inline-flex;">
                          
                              <input type="hidden" name="id" value="<%= rub.id %>">
                              <button class="" type="submit" style="background-image: url('../img/editar.png'); background-size: cover; width: 20px; height: 20px;"></button> 
                      </td> 
                    </form>
                    </tr>
                    <% }); %>
                    
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>